

*
{
    margin:0;
    padding: 0;



}

.hero__wrapper
{

    background-image: url("../img/2.jpg");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    position: relative;
    text-align: center;

}

.hero__wrapper h1
{

    position: relative;
    top: 15vh;
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 100%;
    display: block;
    font-size:9vh;
}

@media screen and (max-width:370px) {

    .hero__wrapper h1{

        font-size:7vh;

    }

}

.nav__wrapper
{
    margin-top: 1em;
    background-attachment:scroll;


}



.nav__wrapper ul li a
{
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.5em;
    transition: background-color 0.5s;

}

.nav__wrapper ul li
{

    flex: 1;


}




.nav__wrapper ul
{

display: flex;
list-style-type: none;
background-color: #e4e3e5;
text-align: center;
    font-size: 3.5vh;

}

.nav__wrapper ul li a:hover
{

    opacity: 0.8;
    background-color: slategray;
}

@media screen and (max-width:605px) {

    .nav__wrapper ul{

       flex-direction:column;

    }

}

.content__container
{

    min-height: 50vh;



}


.footer__wrapper
{



    font-size: 0.9em;
    margin-top:2em;
    padding:1em;
    background-color:black;
    text-align: center;
    letter-spacing:0.3em;
    color: white;
}

.experience__wrapper
{
    box-sizing: border-box;
    background-color: slategray;
    margin-top: 2em;
    padding: 1em;
    background-image: url("../img/comp.jpg");
    background-position: center;
    background-size: cover;
    filter: brightness(80%);
    font-size: 3vh;
}

.content__container div
{



}


h2
{
    margin-bottom: 1em;
    text-decoration: underline;
    letter-spacing: 0.5vw;
    text-align: center;
}


.about_me__wrapper
{

    background-color: mediumspringgreen;
    margin-top: 2em;
    box-sizing: border-box;
    padding: 1em;
    background-image: url("../img/comp2.jpg");
    background-position: center;
    background-size: cover;
    font-size: 3vh;
}

.contact__wrapper
{
    background-color: darkseagreen;
    margin-top: 2em;
    box-sizing: border-box;
    padding: 1em;
    background-image: url("../img/telephone.jpg");
    background-position: center;
    background-size: cover;
    font-size: 3vh;

}

@media screen and (max-width:605px) {

    .content__container div{

        border-radius: 0;

    }

}

a:visited
{
color: white;

}

h3
{
    margin-top: 1em;

}

.socials
{
    display: flex;
    justify-content: center;


}

.socials a
{
    transition: opacity 0.5s;


}



.socials a:hover
{

    opacity: 0.8;

}